# Assignment 4

**Please follow the instructions**

In [4]:
import datetime
import socket

# Get local time
local_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Get computer ID or hostname
computer_id = socket.gethostname()

# Print output with local time and computer ID
print('Assignment 4: Solutions by Aleksandr') # Please change your name here
print('Local Time:', local_time)
print('Computer ID:', computer_id)

Assignment 4: Solutions by Aleksandr
Local Time: 2023-07-29 19:07:16
Computer ID: DESKTOP-6GLOPD7

# Objective

The goal of this project to extract World populattion by countries. 
Please extarct data from the following data sources: 

- List of independent and dependency countries: 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'. 
- List of UN recognized countries: 'https://en.wikipedia.org/wiki/List_of_sovereign_states'

# ETL

Task 1:
- Read the first datasets and display the first 4 rows.
- Convert the data types accordingly (e.g., float, string, integer) and perform data cleaning if necessary.
- If the population is given in millions (e.g., Azerbaijan Population 10,000,000), divide it by 1,000,000 to represent it as 10.0.

Task 2:
- Read the second dataframe and display the first 4 rows.
- Adjust the data types of the second dataframe as needed.

Task 3:
- Merge dataframe 1 and dataframe 2 based on the country name. Ensure that the countries have the same name and can be merged together. You can use the following command: `pd.merge(df2, df1, on='Country', how='inner')`.

Task 4:
- Save the merged dataframe as a CSV file and submit it. Include only the 'Country' and 'Population' columns, excluding any other columns.

Please submit the dataset before our class on Tuesday, as I will utilize it for data visualization purposes. You can also upload the dataset to your GitHub account. I will choose the cleanest and correct dataset for our next training.

In [19]:
import pandas as pd

# Read the first dataset and display the first 4 rows
url1 = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'
df1 = pd.read_html(url1)[1]
print("First 4 rows of DataFrame 1:")
print(df1.head(4))

First 4 rows of DataFrame 1:
  Unnamed: 0 Country / Dependency  Population % of world         Date  \
0          –                World  8051684000       100%   3 Aug 2023
1          1                China  1411750000        NaN  31 Dec 2022
2          2                India  1392329000        NaN   1 Jul 2023
3          3        United States   335179000        NaN   3 Aug 2023

  Source (official or from the United Nations) Unnamed: 6
0                             UN projection[3]        NaN
1                         Official estimate[4]        [b]
2                       Official projection[5]        [c]
3                 National population clock[7]        [d]

In [4]:
# Read the second dataframe and display the first 4 rows
url2 = 'https://en.wikipedia.org/wiki/List_of_sovereign_states'
df2 = pd.read_html(url2)[1]
print("\nFirst 4 rows of DataFrame 2:")
print(df2.head(4))

First 4 rows of DataFrame 2:
                             Common and formal names  \
0                                        Afghanistan
1                      Albania – Republic of Albania
2  Algeria – People's Democratic Republic of Algeria
3                  Andorra – Principality of Andorra

  Membership within the UN System[c] Sovereignty dispute[d]  \
0                                NaN                    NaN
1                                NaN                    NaN
2                                NaN                    NaN
3                                NaN                    NaN

  Further information on status and recognition of sovereignty[f]
0  The de facto ruling government, the Islamic Em...
1                                                NaN
2                                                NaN
3  Andorra is a co-principality in which the offi...

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 7 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    242 non-null    object
 1   Country / Dependency                          242 non-null    string
 2   Population                                    242 non-null    float64
 3   % of world                                    1 non-null      object
 4   Date                                          242 non-null    string
 5   Source (official or from the United Nations)  242 non-null    object
 6   Unnamed: 6                                    31 non-null     object
dtypes: float64(1), object(4), string(2)
memory usage: 13.4+ KB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 4 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Common and formal names                                          195 non-null    object
 1   Membership within the UN System[c]                               2 non-null      object
 2   Sovereignty dispute[d]                                           7 non-null      object
 3   Further information on status and recognition of sovereignty[f]  95 non-null     object
dtypes: object(4)
memory usage: 6.2+ KB

In [9]:
df1['Country / Dependency'] = df1['Country / Dependency'].astype('string')

In [13]:
df1['Date'] = df1['Date'].astype('string')

In [14]:
df1['Country / Dependency'].unique()

<StringArray>
[                                            'World',
                                             'China',
                                             'India',
                                     'United States',
                                         'Indonesia',
                                          'Pakistan',
                                           'Nigeria',
                                            'Brazil',
                                        'Bangladesh',
                                            'Russia',
 ...
 'Saint Helena, Ascension and Tristan da Cunha (UK)',
                                   'Montserrat (UK)',
                             'Falkland Islands (UK)',
                        'Norfolk Island (Australia)',
                      'Christmas Island (Australia)',
                                      'Tokelau (NZ)',
                                              'Niue',
               'Cocos (Keeling) Islands (Australia)',
                                      'Vatican City',
                             'Pitcairn Islands (UK)']
Length: 242, dtype: string

In [16]:
# Data cleaning and data type conversion
df1['Population'] = df1['Population'].replace({',': '', '\[\d+\]': ''}, regex=True).astype(float)
df1['Population'] = df1['Population'].apply(lambda x: x / 1000000 if 'million' in str(x) else x)
print("\nData types after data cleaning:")
print(df1.dtypes)

Data types after data cleaning:
Unnamed: 0                                       object
Country / Dependency                             string
Population                                      float64
% of world                                       object
Date                                             string
Source (official or from the United Nations)     object
Unnamed: 6                                       object
dtype: object

In [20]:
df1['Population'].unique()

array([8051684000, 1411750000, 1392329000,  335179000,  277749853,
        220425254,  216783400,  203062512,  169828911,  146424729,
        129035733,  124500000,  110664000,  105163988,  102060688,
        100000000,   95370000,   85279553,   85189900,   84358845,
         68263022,   68128000,   67026292,   61741120,   60604992,
         58788924,   55770232,   52215503,   51526000,   51439038,
         48196693,   46044703,   45400000,   43324000,   42885900,
         41984500,   41130432,   40207500,   37726000,   37053500,
         36197788,   34262840,   33396698,   33086278,   32701500,
         32419747,   32175224,   31890000,   30832019,   29389150,
         29164578,   28302000,   26923353,   26664500,   25660000,
         24348251,   24112753,   23347374,   23293699,   22923000,
         22185654,   22181000,   21507723,   19960889,   19854083,
         19610769,   19053815,   18340600,   17889000,   17598000,
         17223497,   17109746,   16818391,   15552211,   15178979,
         13261638,   13249924,   13246394,   12837740,   12606998,
         12006031,   11803588,   11781559,   11755313,   11743017,
         11446100,   11089511,   10827529,   10538026,   10535535,
         10482487,   10467366,   10135373,    9741000,    9597085,
          9546178,    9506000,    9282410,    9200617,    9120091,
          8865270,    8494260,    8095498,    7453695,    7337783,
          7333200,    7100000,    6931061,    6884888,    6647003,
          6595674,    6516100,    6447710,    6106869,    5941388,
          5633412,    5541016,    5504329,    5490000,    5483450,
          5453600,    5426857,    5213362,    5199100,    5149139,
          5035658,    4670713,    4661010,    4372037,    4278500,
          3888529,    3748902,    3736400,    3554915,    3457548,
          3277082,    3221789,    3005069,    2981200,    2862274,
          2825544,    2793592,    2604000,    2596037,    2417471,
          2410338,    2306000,    2233272,    2116972,    1885400,
          1832696,    1798188,    1781308,    1558160,    1504365,
          1365884,    1365805,    1336222,    1261196,    1223362,
          1001454,     918100,     893468,     763200,     758316,
           743699,     728041,     673600,     660809,     617683,
           616500,     587259,     569509,     519562,     441471,
           440715,     397372,     397360,     394200,     382836,
           360938,     301295,     279890,     273674,     267800,
           245424,     214610,     205557,     178696,     153836,
           148925,     148900,     120740,     112579,     110872,
           107800,     106739,     105754,     100772,     100447,
           100179,      87146,      84069,      82623,      71105,
            67408,      64055,      63950,      56609,      56520,
            54503,      49710,      47329,      47195,      46131,
            42938,      39680,      39262,      39150,      34003,
            33847,      32358,      31538,      30423,      16733,
            15701,      15040,      11832,      11369,      10679,
            10585,       6092,       5651,       4433,       3662,
             2188,       1692,       1647,       1549,        593,
              246,         47], dtype=int64)

In [21]:
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
Population,242.0,6.561009e+07,5.322918e+08,47.0,316205.75,5440228.5,22184490.5,8.051684e+09

In [24]:
url3 = 'https://en.wikipedia.org/wiki/List_of_sovereign_states'
df3 = pd.read_html(url3)[3]
print("\nFirst 4 rows of DataFrame 2:")
print(df3.head(4))
df3.info()

First 4 rows of DataFrame 2:
             Common and formal names Membership within the UN System[ak]  \
0    Abkhazia – Republic of Abkhazia                                 NaN
1  Artsakh – Republic of Artsakh[an]                                 NaN
2                       Cook Islands             UN specialized agencies
3        Kosovo – Republic of Kosovo             UN specialized agencies

  Sovereignty dispute[al]  \
0                 Georgia
1              Azerbaijan
2  (See political status)
3                  Serbia

  Further information on status and recognition of sovereignty[am]
0  recognised by Russia, Nauru, Nicaragua, Syria,...
1  A de facto independent state,[60][61][62] reco...
2  A state in free association with New Zealand, ...
3  Pursuant to United Nations Security Council Re...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Common and formal names                                           11 non-null     object
 1   Membership within the UN System[ak]                               3 non-null      object
 2   Sovereignty dispute[al]                                           11 non-null     object
 3   Further information on status and recognition of sovereignty[am]  11 non-null     object
dtypes: object(4)
memory usage: 480.0+ bytes